In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_respiratorio = pd.read_parquet('at_urg_respiratorio_semanal.parquet')
df_calidad_aire =pd.read_csv('Calidad del aire.csv',sep=';')

In [4]:
df_respiratorio.head(4)

,EstablecimientoCodigo,EstablecimientoGlosa,RegionCodigo,RegionGlosa,ComunaCodigo,ComunaGlosa,ServicioSaludCodigo,ServicioSaludGlosa,TipoEstablecimiento,DependenciaAdministrativa,...,Anio,SemanaEstadistica,OrdenCausa,Causa,NumTotal,NumMenor1Anio,Num1a4Anios,Num5a14Anios,Num15a64Anios,Num65oMas
0,133160,Hospital Comunitario de Achao,10,Región De Los Lagos,10210,Quinchao,33,Servicio de Salud Chiloé,Hospital,Servicio de Salud,...,2018,28,8,Crisis obstructiva bronquial (J40-J46),1,0,0,0,0,1
1,200143,SAPU Aguilucho,13,Región Metropolitana de Santiago,13123,Providencia,12,Servicio de Salud Metropolitano Oriente,Servicio de Atención Primaria de Urgencia (SAPU),Municipal,...,2021,41,4,IRA Alta (J00-J06),17,0,0,1,14,2
2,200744,SUR Huertos Familiares,13,Región Metropolitana de Santiago,13303,Tiltil,9,Servicio de Salud Metropolitano Norte,Servicio de Urgencia Rural (SUR),Municipal,...,2022,35,6,Neumonía (J12-J18),1,0,0,1,0,0
3,116840,SAR Las Américas,7,Región Del Maule,7101,Talca,16,Servicio de Salud Del Maule,Servicio de Atención Primaria de Urgencia de A...,Municipal,...,2024,52,11,"Covid-19, Virus identificado U07.1",0,0,0,0,0,0

In [5]:
df_calidad_aire.head()

,Estacion,FECHA (YYMMDD),HORA (HHMM),MP10,MP2_5,CO,NO,NO2,O3,Humedad,Temperatura,Viento_v
0,Pudahuel,970404,0,"114,917",NaN,NaN,NaN,NaN,"354,166",NaN,NaN,NaN
1,Pudahuel,970405,0,"102,5",NaN,NaN,NaN,NaN,"385,833",NaN,NaN,NaN
2,Pudahuel,970406,0,"646,666",NaN,NaN,NaN,NaN,"33,25",NaN,NaN,NaN
3,Pudahuel,970407,0,"799,166",NaN,NaN,NaN,NaN,"400,833",NaN,NaN,NaN
4,Pudahuel,970408,0,"842,916",NaN,NaN,NaN,NaN,"325,833",NaN,NaN,NaN